{% extends 'firstapp/main.html' %}

{% block firstblock %}
    <h1>DJANGO ABOUT</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum consequuntur corrupti et rerum doloribus at
        minima ut! Veniam corporis fuga reprehenderit aliquam aperiam, saepe itaque id accusantium neque ea placeat?
    </p>
    <h1>DJANGO ABOUT</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum consequuntur corrupti et rerum doloribus at
        minima
        ut! Veniam corporis fuga reprehenderit aliquam aperiam, saepe itaque id accusantium neque ea placeat?
    </p>
    <h1>DJANGO ABOUT</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum consequuntur corrupti et rerum doloribus at
        minima
        ut! Veniam corporis fuga reprehenderit aliquam aperiam, saepe itaque id accusantium neque ea placeat?
    </p>
    <h1>DJANGO ABOUT</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum consequuntur corrupti et rerum doloribus at
        minima
        ut! Veniam corporis fuga reprehenderit aliquam aperiam, saepe itaque id accusantium neque ea placeat?
    </p>
    <h1>DJANGO ABOUT</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum consequuntur corrupti et rerum doloribus at
        minima
        ut! Veniam corporis fuga reprehenderit aliquam aperiam, saepe itaque id accusantium neque ea placeat?
    </p>
{% endblock firstblock %}